.book-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   
}
.block{
    padding: 2%;
    flex-grow: 1;
    flex-basis: 16%; 
}
.shop-title{
    text-align: center;
    padding: 10px;
  
}
.book-img{
    width: 200px;
    height: 200px;
    margin-top: 20px;
}
.book-info{
    display: flex;
    flex-direction: column;
   
}
.age-block{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}
.categoryButtonSelected{
    background-color:#6bc9c8;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 150px;
    color:#ffffff;

}
.categoryButton:hover {
    background-color: #fef4b3;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 150px;
}
.categoryButton{
    background-color:#ee8699  ;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 150px;
    color:#ffffff;
}

.slide-img{
    width: 350px;
    border-radius: 25px;
    
}
/* .slide-container .left-btn-one { 
position: absolute;
cursor: pointer;
top:50%;
left:39.5%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
border:1px solid ;
border-radius: 25px;
}
.slide-container .right-btn-one{
    position: absolute;
    cursor: pointer;
    top:50%;
    right:38.8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:1px solid ;
    border-radius: 25px;

}
.slide-container .left-btn-two{
    position: absolute;
    cursor: pointer;
    top:50%;
    left:6%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:1px solid ;
    border-radius: 25px;
}
.slide-container .right-btn-two{
    position: absolute;
    cursor: pointer;
    top:50%;
    right:72%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:1px solid ;
    border-radius: 25px;
}
.slide-container .left-btn-three{
    position: absolute;
    cursor: pointer;
    top:50%;
    left:72.8%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:1px solid ;
    border-radius: 25px;
}
.slide-container .right-btn-three{
    position: absolute;
    cursor: pointer;
    top:50%;
    right:5%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:1px solid ;
    border-radius: 25px;
} */
.type{
    text-align: center;
    color: #ee8699;
  

}
@media all and (max-width:500px){
    .book-img{
        width: 150px;
        height: 150px;
    }
    .slide-container .right-btn-one{
        right: 7%;
    }
    .slide-container .left-btn-one{
        left:9%;
    }
    
    .slide-container .left-btn-two{
        top:15%;
        left:9%;
    }
    .slide-container .right-btn-two{
        top:15%;
        right: 7%;
    
    }
    
    .slide-container .left-btn-three{
        top:85%;
        left:9%;
    }
    .slide-container .right-btn-three{
        top:85%;
    
    }
}