.container-logo{
    display: flex;   
}
.container-main{
    display: flex;
    justify-content: space-between;
}
h2{
    margin-top: 20px;

}
@media all and (max-width:500px){
    h2{
        font-size: 18px;
        margin-top: 30px;
    }
    .logo{
        width:50px ;
    }
}