*{
    margin: 0;
    padding: 0;
  }
  
  video{
    width: 100%;
    margin-top: 20px;
   object-fit: contain;
  }
  .logo{
    position: relative;
    width: 80px;
    
  }
  
  @media all and (max-width:500px){
    video{
      width: 100%;
     
    }}
.imageBg{
    width: 600px;
    height: 450px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    border-radius: 20px;
}
.container-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fef4b3;
    margin-top: 15px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 20px;
}
.block{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
}
.block-age{
    display: flex;
    margin-left: 100px;
    padding: 10px;
}
h3{
    font-size: 40px;
    text-align:center;
}

.age-Up2{
    background-color: #ee8699;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 150px;
   
   
}
.age-3-5{
    background-color: #EF8D1F;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 150px;
   
}
.age-6-8{
    background-color: #cab6d7;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 150px;
   
}
.age-9-12 {
    background-color: #e62a41;
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 25px;
    width: 150px;

    
}
.button{
    width: 350px;
    margin-left: 90px;
    padding: 10px;
    border-radius: 25px;
    background-color:#49CF66;
    text-decoration: none;
    color: #000000;
    border: none;
  
    top:4px;
}

.slide-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    margin-left: 10px;
    margin-top: 25px;
 
}
.slide:hover{
    scale: 1.5;
  
}


 /* button for Slider */
 
 .left-btn-one{ 
    position: absolute;
    cursor: pointer;
    top:50%;
    left:80%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border:1px solid ;
    border-radius: 25px;
    } 
    .right-btn-one{
        position: absolute;
        cursor: pointer;
        top:50%;
        right:38.8%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border:1px solid ;
        border-radius: 25px;
    
    }
    .left-btn-two{
        position: absolute;
        cursor: pointer;
        top:50%;
        left:6%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border:1px solid ;
        border-radius: 25px;
    }
    .right-btn-two{
        position: absolute;
        cursor: pointer;
        top:50%;
        right:72%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border:1px solid ;
        border-radius: 25px;
    }
     .left-btn-three{
        position: absolute;
        cursor: pointer;
        top:50%;
        left:72.8%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border:1px solid ;
        border-radius: 25px;
    }
 .right-btn-three{
        position: absolute;
        cursor: pointer;
        top:50%;
        right:5%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border:1px solid ;
        border-radius: 25px;
    } */
  
    .div-main{
        display: flex;
        flex-wrap: wrap;
        margin: 20px;
     
    }
    .div-right{
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;
        margin-left: 10px;
        gap: 30px;
    

    }
    .div-left{
        display: flex;
        flex:1;
        gap:20px;
        
    }
    .add-to-cart{
        width: 40%;
        margin: 10px;
        padding: 15px;
        border: none;
        border-radius: 20px;
        background-color: #6bc9c8;
        color: #ee8699;
        font-size: 20px;
    }
    .add-to-cart:hover{
        scale:1.05
    }
    .btn-go-back{
        border: none;
        color:#6bc9c8;
        background-color: #ffffff;
        justify-content: flex-start;
        width: 40%;
   
    }
    .main-about{
        margin-left: 50px;
       
    }
    .div-about{
        display: flex;
        justify-content: flex-start;
        flex-wrap:wrap ;
        margin-left: 50px;
    }
    .par {
        display: block;
        justify-content: flex-start;    
    }
    .btn-Par{
        background: none;
        color: #6bc9c8;
        border: none;
    }
    
     /* SUBSCRIBE */
 .subscribe-container{
    height: 300px;
    background-color: #f1d4f2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
   }
   .subscribe-title h2 {
    font-size: 50px;
    margin: 0;
    letter-spacing: 2px;
    text-align: center;
    color: #6bc9c8;
  }
   .input-container{
    width: 50%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgrey;
    margin-bottom: 10px;
   
   }
   .sub-input {
    border: none;
    flex: 8;
    padding-left: 15px;
  }
  .sub-btn {
    flex: 1;
    border: none;
    background-color:#6bc9c8;
    color: #ffffff;
    font-size: 20px;
    padding: 10px;
 
  }
  .sub-btn:hover{
    scale:1.05
  }
    
  

@media all and (max-width:800px){
    .container-block{
        width: 100%;
        margin: 0;
    }
    .imageBg{
        width: 755px;
        height: 450px;
    }
}
@media all and (max-width:500px){
    .container-block{
        margin-left: 30px;
        margin-right: 0;
        width: 85%;
    }
    .imageBg{
    width: 300px;
    height: 350px;
    margin-left: 20px;
   }
   .block-age{
    margin-left: 0;
   }
   .age-Up2 ,.age-3-5,.age-6-8,.age-9-12, .categoryButtonSelected, .categoryButton{
    width: 80px;
   }
   .button{
    width: 200px;
    margin-right: 60px;
   }

   .slide-container .left-btn{
    top:85%;
    left:9%;
}
.slide-container .right-btn{
    top:85%;

}
.div-main{
    display: flex;
    flex-direction: column;
}
.input-container{
    width: 75%;
}
.subscribe-title h2{
    font-size: 30px;
} 

}
    
